
html{
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400
}


header {
  text-align: center;
}

header .logo {
  height: 80px;
  box-sizing: content-box;
}
.content {
  text-align: center;
  position: absolute;
  z-index: 11;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 20%;
  height: 60px;
}

.content h1 {
  color: #111;
  font-size: 4em;
  position: relative;
  font-weight: 400;
  margin: 0 1vw;
}
.content h2 {
  color: #111;
  font-weight: 500;
  font-size: 1.7em;
  margin-bottom: 50px;
}
.content .new {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid #111;
  padding: 12px 19px;
  color: #111;
  display: inline-block;
  margin-top:25px;
}
.content .new:hover {
  border: 2px solid #111;
  opacity: 0.8;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  z-index: 0;
  padding: 0;
  margin: 0 0 -6px 0;
  overflow: hidden;
}



@media (max-width:480px) {
    
	
	header .logo {
		height: 50px;
        margin-top:20px;
		margin-bottom:20px;
    }
}

/*Social Media Buttons*/

.middle {
    position: relative;
    
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
	
}

.social {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: #fff;
    margin: 10px;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #000;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
	
	
}

.social i {
    line-height: 55px;
    font-size: 18px;
    transition: 0.5s linear;
}

.social:hover i {
    transform: scale(1.3);
    color: #fff;
}

.social::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #000;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.social:hover::before {
    animation: aaa 1s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

@media screen and (max-width: 991px) {
	.social {
    display: inline-block;
    width: 45px;
    height: 45px;
    background: #fff;
    margin: 5px;
    box-shadow: 0 5px 10px -5px #00000070;
    color: #000;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
}

.social i {
    line-height: 45px;
    font-size: 13px;
    transition: 0.5s linear;
}

.social:hover i {
    transform: scale(1.3);
    color: #fff;
}

.social::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #000;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.social:hover::before {
    animation: aaa 1s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%
    }
    100% {
        top: -10%;
        left: -10%;
    }
}
}




 .big {
  margin: 0 0 10px 0;
  font-size: 38px;
  font-weight: 500;
  line-height: 56px;
  color: black;
  text-align:center;
}

h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
  text-align:center;
  
}

.countdown {
	margin-top:10px;
  
}

 .countdown div {
  text-align: center;
  margin: 10px;
  width: 100px;
  padding: 15px 0;
  background: rgb(229, 228, 226);
  border-top: 5px solid #0170b1;
}

.countdown div h3 {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 15px;
}

.countdown div h4 {
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 575px) {
  .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }

  .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}


@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#header .social-links {
  margin-top: 10px;
}

#header .social-links a {
  font-size: 24px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1;
  padding-top: 14px;
  margin: 0 10px;
  text-align: center;
  transition: 0.3s;
}

#header .social-links a:hover {
  color: #fff;
}



.typewrite {
      font-weight:600;
	  color:#0170b1;
	  text-transform: uppercase;
      
}




